{% extends 'base.html' %}
{% block content %}


    
<body>

    <form action = "#" method = "POST" enctype="multipart/form-data"> 

        <div class= "container">
            <h2 class = "text-center mb-5 shadow-sm p-3"> Add new user </h2>
        </div>

           
            <table class = "table-borderless">
                
                <tr>
                    <td>Id:</td>
                    <td>
                        <input type = "number" placeholder="1, 2, 3......"   name="id"> 
                    </td>
                </tr>

                <tr>
                    <td>Username:</td>
                    <td>
                        <input type = "text" placeholder="name"   name="username"> 
                    </td>
                </tr>

                <tr>
                    <td>Email:</td>
                    <td>
                        <input type = "text" placeholder="email"   name="email"> 
                    </td>
                </tr>

                <tr>
                    <td>Photo:</td>
                    <td>
                        <input type = "file"  name="photo"> 
                    </td>
                </tr>
                
            </table>
            
            <td>
                <button> <i class="fa fa-user-plus"></i> </button>
            </td>
                
    </form>
</body>

{% endblock %}


